<fieldset>
  <legend mat-raised-button color="accent">Crear Usuario</legend>
  <form>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Primer Nombre" name="firstName" [(ngModel)]="user.firstName" required="true">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Segundo Nombre" name="secondName" [(ngModel)]="user.secondName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Primer Apellido" name="firstSurname" [(ngModel)]="user.firstSurname" required="true">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Segundo Apellido" name="secondSurname" [(ngModel)]="user.secondSurname">
      </mat-form-field>

      <mat-form-field>
        <input type="email" matInput placeholder="Email" name="email" [(ngModel)]="user.email" required="true">
      </mat-form-field>

      <mat-form-field>
        <input type="password" matInput placeholder="Contraseña" name="password" [(ngModel)]="user.password" required="true">
      </mat-form-field>
    </div>
    <button type="submit" (click)="saveOrUpdate()" mat-raised-button color="accent">
      Enviar
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
  </form>
</fieldset>